doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="assets/css/main.css", type="text/css")
  link(rel="icon", type="image/x-icon", href="assets/img/ico/favicon.ico")
  link(
    rel="apple-touch-icon-precomposed",
    href="assets/img/ico/apple-touch-icon-57-precomposed.png"
  )
  link(
    rel="apple-touch-icon-precomposed",
    sizes="72x72",
    href="assets/img/ico/apple-touch-icon-57-precomposed.png"
  )
  link(
    rel="apple-touch-icon-precomposed",
    sizes="114x114",
    href="assets/img/ico/apple-touch-icon-57-precomposed.png"
  )
  link(
    rel="apple-touch-icon-precomposed",
    sizes="144x144",
    href="assets/img/ico/apple-touch-icon-57-precomposed.png"
  )
  title TP1 Web Agency

// navbar
nav
  ul#nav
    li.logo
      img(src="assets/img/logo.png", alt="webagency logo")
    li(onclick="toggleNav()")
      i.fas.fa-bars
  ul#navLinks
    li
      a.nav__links(href="#") Acceuil
    li
      a.nav__links(href="#services") Services
    li
      a.nav__links(href="#portfolio") Portfolio
    li
      a.nav__links(href="#contact") Contact
main
  // Carousel
  section#carousel.carousel
    figure.visible
      img(src="assets/img/slider/bg1.jpg", alt="image carousel fille")
      figcaption
        h1
          span Webagency
          |
          | : l&apos;Agence de tous vos
          |
          | projets !
        p
          | Vous avez un projet web ? La WebAgency vous aide &agrave;
          | le r&eacute;aliser !
        a.btn.btn--active(href="#") Plus d&apos;infos
    figure.hidden
      img(src="assets/img/slider/bg2.jpg", alt="image carousel garçon")
      figcaption
        h1
          span Webagency
          |
          | : l&apos;Agence de tous vos
          |
          | projets !
        p
          | Vous avez un projet web ? La WebAgency vous aide &agrave;
          | le r&eacute;aliser !
        a.btn.btn--active(href="#") Plus d&apos;infos
    .selector.selector__prev(onclick="selector(this)")
      i.fas.fa-chevron-left
    .selector.selector__next(onclick="selector(this)")
      i.fas.fa-chevron-right
    ul.slides__container
      li.slide.slide--1.visible
      li.slide.slide--2.hidden

  // Services
  section#services.services
    .intro__section
      h2 Nos services
      hr
      p
        | Lorem, ipsum dolor sit amet consectetur adipisicing
        | elit. Veritatis, atque nesciunt! Magni cum voluptate ex
        | atque porro aliquam adipisci, veniam rem minima iusto.
    .services__content
      div
        img(src="assets/img/main-feature.png", alt="image d'un mac")
      ul
        li
          div
            i.fas.fa-chart-line
          div
            h3 UX design
            p
              | Lorem ipsum dolor sit amet consectetur
              | adipisicing elit. Recusandae, quas, fugiat
              | ducimus qui inventore ipsum dolor beatae
              | modi optio repudiandae, voluptate ab.
        li
          div
            i.fas.fa-layer-group
          div
            h3 UI design
            p
              | Lorem ipsum dolor sit amet consectetur
              | adipisicing elit. Recusandae, quas, fugiat
              | ducimus qui inventore ipsum dolor beatae
              | modi optio repudiandae, voluptate ab.
        li
          div
            i.fas.fa-chart-pie
          div
            h3 SEO
            p
              | Lorem ipsum dolor sit amet consectetur
              | adipisicing elit. Recusandae, quas, fugiat
              | ducimus qui inventore ipsum dolor beatae
              | modi optio repudiandae, voluptate ab.

  // portfolio
  section#portfolio.portfolio
    .intro__section
      h2 Nos projets
      hr
      p
        | Lorem, ipsum dolor sit amet consectetur adipisicing
        | elit. Veritatis, atque nesciunt! Magni cum voluptate ex
        | atque porro aliquam adipisci, veniam rem minima iusto.
    ul.portfolio__nav
      li
        button.portfolio__nav--links.btn.btn--triangle.btn--left
          | All Works
      li
        button.portfolio__nav--links.btn.btn--triangle
          | Creative
      li
        button.portfolio__nav--links.btn.btn--triangle
          | Corporate
      li
        button.portfolio__nav--links.btn.btn--triangle.btn--right
          | Portfolio
    #projets.projets
      .projets__cards.projets__cards--1
        .desc
          h4 Portfolio item 1
          p Lorem ipsum dolor sit.
          i.far.fa-eye
      .projets__cards.projets__cards--2
        .desc
          h4 Portfolio item 2
          p Lorem ipsum dolor sit.
          i.far.fa-eye
      .projets__cards.projets__cards--3
        .desc
          h4 Portfolio item 3
          p Lorem ipsum dolor sit.
          i.far.fa-eye
      .projets__cards.projets__cards--4
        .desc
          h4 Portfolio item 4
          p Lorem ipsum dolor sit.
          i.far.fa-eye
      .projets__cards.projets__cards--5
        .desc
          h4 Portfolio item 5
          p Lorem ipsum dolor sit.
          i.far.fa-eye
      .projets__cards.projets__cards--6
        .desc
          h4 Portfolio item 6
          p Lorem ipsum dolor sit.
          i.far.fa-eye
      .projets__cards.projets__cards--7
        .desc
          h4 Portfolio item 7
          p Lorem ipsum dolor sit.
          i.far.fa-eye
      .projets__cards.projets__cards--8
        .desc
          h4 Portfolio item 8
          p Lorem ipsum dolor sit.
          i.far.fa-eye

  // Contact
  section#contact.contact
    h2 Contact
    .contact__container
      // Gmap
      div(style="width: 700px; position: relative")
        iframe(
          width="700",
          height="440",
          src="https://maps.google.com/maps?width=700&height=440&hl=en&q=25%20rue%20d%5C'Hauteville%2075010+(Titre)&ie=UTF8&t=&z=14&iwloc=B&output=embed",
          frameborder="0",
          scrolling="no",
          marginheight="0",
          marginwidth="0"
        )
        div(
          style='\
                  position: absolute;\
                  width: 80%;\
                  bottom: 10px;\
                  left: 0;\
                  right: 0;\
                  margin-left: auto;\
                  margin-right: auto;\
                  color: #000;\
                  text-align: center;\
                  '
        )
          small(
            style='\
                      line-height: 1.8;\
                      font-size: 2px;\
                      background: #fff;\
                      '
          )
            | Powered by
            a(href="http://www.googlemapsgenerator.com/zh/") googlemapsgen (zh)
            |
            | &amp;
            a(href="https://opwaarderenlebara.nl/promoties-lebara/") https://opwaarderenlebara.nl/promoties-lebara/
        style.
          #gmap_canvas img {
          max-width: none !important;
          background: none !important;
          }
      br

      // formulaire
      .contact--info
        form
          h3 Contact info
          ul
            li WebAgency SAS
            li 25 Rue d&apos;Hauteville 75010 Paris
            li Tel : 01 02 03 04 05
          div
            input(type="text", name="Name", placeholder="Name")
          div
            input(type="email", name="Email", placeholder="Email")
          div
            input(type="text", name="Subject", placeholder="Subject")
          div
            textarea(
              name="message",
              cols="30",
              rows="10",
              placeholder="Message"
            )
          button.btn.btn--active(type="submit")
            | Send a Message
footer
  p
    | &copy;
    script.
      document.write(new Date().getFullYear());
    |
    | Gwen Tripet-Costet (fait dans le cadre d&apos;un TP)
script(
  src="https://kit.fontawesome.com/c327878e2f.js",
  crossorigin="anonymous"
)
script(src="assets/js/main.js")
